.product-detail {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.product-detail-images {
  width: 10%;
}

.detail-page-image {
  width: 50%;
}

.detail-page-details {
  width: 30%;
}

.detail-page-thumnails {
  max-width: 100%;
  height: 100px;
  cursor: pointer;
}

.product-detail-items {
  border: 1px solid black;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
}

.product-detail-items:hover {
  border: 2px solid black;
}

.product-detail-prices {
  font-weight: bold;
}

.product-detail-name {
  font-weight: lighter;
  margin-top: 0 !important;
}

.product-detail-brand {
  margin-bottom: 10px !important;
}

.detail-page-button {
  width: 100%;
  padding: 16px 32px;
  border: none;
  background: #5ECE7B;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.swatches {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.swatches:hover {
  border:  1px solid black;
}

.detail-page-capacity {
  border: 1px solid black;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.detail-page-capacity:hover {
  border: 2px solid black;
}

.cart-div {
  display: flex;
  justify-content: space-between;
}

.cart-div-item {
  width: 50%;
}

.cart-div-carousel {
  display: flex;
  width: 30%
}

.cart-div-carousel-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 10px;
}

.button {
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
}

.cart-div-overall {
  width: 80%;
  margin: auto;
}

.cart-images {
  max-width: 100%;
}

.delete-button {
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: red;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.horizontal-line {
  border: 1px solid #E5E5E5;
  margin-top: 20px;
}

.cart-heading {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 30px;
}

.toal-titles {
  display: inline-block;
  font-weight: lighter;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

.total-titles-2 {
  display: inline-block;
  margin-bottom: 0 !important;
}

.button-total {
  width: 25%;
  margin-top: 30px;
  padding: 16px 32px;
  border: none;
  background: #5ECE7B;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
