nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-ul {
  list-style-type: none;
}

.nav-li {
  float: left;
  padding: 0 15px;
}

.active {
  border-bottom: 1px solid green;
}
