nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

.nav-ul {
  list-style-type: none;
}

.nav-li {
  float: left;
  margin: 0 15px 0 0;
  padding-bottom: 15px;
}

.active {
  border-bottom: 1px solid #5ECE7B;
  font-weight: bold;
  color: #5ECE7B;
}

.nav-right {
  display: flex;
  align-items: center;
}

.cart {
  margin-left: 15px;
  cursor: pointer;
}

.currency {
  position: relative;
}

.ul {
  position: absolute;
  right: 110px;
  top: 50px
}

.currency-icon {
  margin-left: 5px;
  margin-bottom: 2px;
}

.currency-div {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  /* margin: 5px 0; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

li {
  padding: 5px 10px;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}

li:hover {
  background-color: #eee;
}

.itemInCartParagraph {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  background-color: orangered;
  color: white;
  font-weight: bold;
}

.itemAddedToCart {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #5ECE7B;
  color: white;
  font-weight: bold;
}

.cart-icons {
  position: relative
}

.icon-quantity {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: black;
  color: white;
  padding: 1px 2px;
  border-radius: 10px;
  font-size: 12px;
}
/* select {
  border: none;
  font-size: 18px;
  padding: 5px;
}

select option:checked:after {
  content: attr(title);
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
} */